html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--oc-gray-9);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

code {
    font-size: inherit;
    font-weight: normal;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--oc-blue-0);
    font-size: var(--font-size-2);
    white-space: pre-wrap;
    word-break: break-word;
}

::selection {
    background-color: var(--oc-blue-1);
}